/* styles.css */

/* 设置 body 的背景颜色 */
body {
  background-color: #f8f9fa;
}

/* 设置导航栏链接的颜色 */
.navbar-nav .nav-link {
  color: #fff; /* 白色 */
}

/* 设置导航栏链接鼠标悬停时的颜色 */
.navbar-nav .nav-link:hover {
  color: #ffc107; /* 黄色 */
}

/* CSS */
.image-container {
  width: 300px; /* 设置容器的宽度 */
  height: 200px; /* 设置容器的高度 */
  margin-bottom: 20px; /* 设置容器之间的间距 */
  overflow: hidden; /* 确保图片不会超出容器 */
}

/* CSS */
.top-image{
  width: 100%;
  height: 600px; /* 设置图片的统一高度 */
  object-fit: cover; /* 保持图片的长宽比并裁剪不适合的部分 */
}
  
  
.top-image2 {
  width: 100%;
  height: 95%; /* 设置图片的高度为 300 像素（可以根据需要调整大小）*/
  object-fit: cover; /* 保持图片的长宽比并裁剪不适合的部分 */
}
/* 设置购物车区域的样式 */
#cart {
  position: fixed;
  top: 20%;
  right: 20px;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

/* 设置结账按钮的样式 */
#checkoutBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* 设置产品卡片的阴影效果 */
.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* 当鼠标悬停在商品卡片上时，放大图片并模糊其他区域 */
.card-img-top:hover {
  transform: scale(1.2); /* 放大 */
}

/* 应用背景模糊效果 */
.container {
  backdrop-filter: blur(5px); /* 背景模糊 */
}

/* 设置购物车和结账按钮的背景颜色为半透明 */
#cart,
#checkoutBtn {
  background-color: rgba(255, 255, 255, 0.7); /* 半透明白色背景 */
}
#back-to-top-btn {
  display: none; /* 初始隐藏 */
  position: fixed; /* 固定在页面右下角 */
  bottom: 20px;
  right: 30px;
  z-index: 99; /* 确保按钮位于其他内容之上 */
  border: none;
  outline: none;
  background-color: #007bff; /* 按钮背景色 */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%; /* 圆形按钮 */
  font-size: 18px;
}

#back-to-top-btn:hover {
  background-color: #0056b3; /* 鼠标悬停时的背景色 */
}

